.w-30p {
  overflow: hidden;
  min-width: 528px; // 최소 너비 설정
}

.w-70p {
  overflow: hidden;
  min-width: 1233px; // 최소 너비 설정
}

.w-19p {
  overflow: hidden;
  min-width: 320px; // 최소 너비 설정
}

.w-20p {
  overflow: hidden;
  min-width: 416px; // 최소 너비 설정
}

.w-80p {
  overflow: hidden;
  min-width: 1152px; // 최소 너비 설정
}

.w-100p {
  overflow: hidden;
  min-width: 1280px; // 최소 너비 설정
}

.w-15p {
  overflow: hidden;
  min-width: 256px; // 최소 너비 설정
}

.w-85p {
  overflow: hidden;
  min-width: 1104px; // 최소 너비 설정
}

.is-border {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px;
}